# Bitquery

Bitquery provides GraphQL APIs for more than 30 blockchains.

The following blog post provides an introduction of Bitquery's integration of Cronos chain: https://community.bitquery.io/t/cronos-cro-apis-transfers-trades-tokens-dex/1289

## Explorer

The Cronos explorer can be used to perform simple queries: visit https://explorer.bitquery.io/cronos/

## Online IDE

For GraphQL queries, the first step is to use the IDE to draft the query:

- https://graphql.bitquery.io/ide
- Use ethereum query, with "cronos" as the network

Example of query to calculate monthly active users on Cronos chain:

```graphql
query MyQuery {
  ethereum(network: cronos) {
    transactions(date: { since: "2022-08-05" }) {
      date {
        date(format: "%Y-%m")
      }
      transactions: count
      senders: count(uniq: receivers)
      receivers: count(uniq: senders)
    }
  }
}
```

## API

With the Bitquery API, it is possible to send queries programmatically in GraphQL format and receive results in JSON. An API key is required.

Below are a few examples.

### Monthly active users on Cronos chain

In [23]:
import os
import requests
import pprint
import pandas
from IPython.display import display
from dotenv import load_dotenv  # poetry add python-dotenv
load_dotenv()

bitquery_api_key = os.environ.get('BITQUERY_API_KEY')

# A simple function to use requests.post to make the API call.
def run_query(query):
    headers = {'X-API-KEY': bitquery_api_key}
    request = requests.post('https://graphql.bitquery.io/',
                            json={'query': query}, headers=headers)
    if request.status_code == 200:
        return request.json()
    else:
        raise Exception('Query failed and return code is {}  {}'.format(request.status_code,
                        query))

# The GraphQL query
query = """
query MyQuery {
  ethereum(network: cronos) {
    transactions(date: { since: "2021-11-01" }) {
      date {
        date(format: "%Y-%m")
      }
      transactions: count
      senders: count(uniq: senders)
      receivers: count(uniq: receivers)
    }
  }
}
"""

result = run_query(query)  # Execute the query

# Summarize in a dataframe
columns = ['month', 'senders', 'receivers', 'transactions']
df = pandas.DataFrame(data=[], columns=columns)
for datapoint in result['data']['ethereum']['transactions']:
  new_df = pandas.DataFrame(data=[[
    datapoint['date']['date'],
    datapoint['senders'],
    datapoint['receivers'],
    datapoint['transactions']
  ]], columns=columns)
  df = pandas.concat(objs=[df, new_df], ignore_index=True)

styled_df = df.style.format({
    "senders": "{:,}",
    "receivers": "{:,}",
    "transactions": "{:,}",
})

display(styled_df)

### Monthly active users sending transactions to VVS

In [25]:

# The GraphQL query
query = """
query MyQuery {
  ethereum(network: cronos) {
    transactions(
      date: { since: "2021-11-01" }
      txTo: {is: "0x145863Eb42Cf62847A6Ca784e6416C1682b1b2Ae"}
      ) {
      date {
        date(format: "%Y-%m")
      }
      transactions: count
      senders: count(uniq: senders)
      receivers: count(uniq: receivers)
    }
  }
}
"""

result = run_query(query)  # Execute the query

# Summarize in a dataframe
columns = ['month', 'senders', 'receivers', 'transactions']
df = pandas.DataFrame(data=[], columns=columns)
for datapoint in result['data']['ethereum']['transactions']:
  new_df = pandas.DataFrame(data=[[
    datapoint['date']['date'],
    datapoint['senders'],
    datapoint['receivers'],
    datapoint['transactions']
  ]], columns=columns)
  df = pandas.concat(objs=[df, new_df], ignore_index=True)

styled_df = df.style.format({
    "senders": "{:,}",
    "receivers": "{:,}",
    "transactions": "{:,}",
})

display(styled_df)